*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #dae07e, #455de4);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    /* overflow-x: hidden; */
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
.header {
    width: 100%;
    background-color: lightblue;
    border-bottom: 1px solid #666;
    border-top: 1px solid transparent;

}
a {
    text-decoration: none;
    color: #222;
}
p {
    padding-top: 20px;
    font-weight: 600;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 45px;
}
.nav-list {
    display: flex;
    list-style: none;
    margin: 0 auto;
}
.nav-items {
    margin: 0 60px;
}
.nav-items a {
    font-weight: 600;
}
.nav-items a:hover {
    color: #fff;
}
#brand {
    background-color: aquamarine;
    width: fit-content;
    transform: rotate(90deg);
    position: fixed;
    margin-left: -42px;
    margin-top: 30vh;
    padding: 10px;
    cursor: pointer;
    transition: transform 1.5s;
}
#brand:hover {
    transform: translateX(120%);
}
#aboutme {
    position: relative;
    top: 100px;
}

.personal {
    border: 10px solid #fff;
    padding: 30px;
    width: 100%;
    height: 500px;
}
.per-1 {
    display: flex;
}
.per-2 {
    margin-top: 30px;
    line-height: 28px;
    text-align: justify;
}
#anhthe {
    margin: 0px 50px auto 35px;
    width: 130px;
    clip-path: circle(40% at 50% 40%);
    transition: transform 2s;
}
#anhthe:hover {
    transform: rotate(720deg);
}
.infor {
    transform: translateY(15%);
}
.infor i, .per-2 i {
    margin-right: 15px;
    color: #fff;
    font-size: 20px;
    width: 25px;
}
.img-sp {
    width: 280px;
    margin-left: -25px;
    transform: rotateZ(10deg);
    border-radius: 5px;
    border-right: 2px solid burlywood;
    border-bottom: 2.5px solid burlywood;
    box-shadow: 8px 12px #fff;
    transition: transform 1.5s;
}
.img-sp:hover {
    transform: rotateY(180deg);
}


/* interest */
#interest {
    margin: 250px 0 150px 0;
}
.img-line {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 160px;
}
.interest-stadium {
    display: flex;
    height: 120px;
}

.contain-goal {
    transform: translate(40%, -65%)
}
#goal {
    width: 300px;
}
.img-line img {
    width: 780px;
}
#arrow{
    width: 80px;
    transition: transform 1s;
    cursor: pointer;
}
#arrow:hover {
    transform: translate(-25%, -25%);
}
#ball {
    width: 70px;
}
.interest-ball {
    z-index: 5;
    margin-top: 50px;
    padding: 35px 8px;
    transition: transform 1.5s;
    cursor: pointer;
}
.interest-ball:hover {
    transform: translateX(340%);
}
.interest-content {
    display: flex;
    margin-top: 150px;
}
.line {
    margin: -20px 20px 0 0;
    height: 380px;
    width: 3px;
    background-color: aquamarine;
}
.main-cont h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 35px;
    margin-bottom: 20px;
    color: rgb(158, 75, 236);
    display: inline-flex;
}
#football {
    margin-right: 10px;
    color: #fff;
}
.main-cont h1::first-letter {
    color: #fff;
}
.main-cont p {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    line-height: 25px;
}
.img-football {
    transform: rotateZ(5deg);
    border: 10px solid rgb(241, 170, 76);
    box-shadow: none;
    width: 330px;
}
.img-football:hover {
    transform: rotate(30deg) scale(1.5) translateY(5%) translateX(-35%);
}
.img-2 {
    transform: rotateZ(0deg);
    margin-top: 70px;
    width: 360px;
    height: 250px;
}
.img-2:hover {
    transform: rotateY(180deg);
}
.img-interest {
    margin-top: 150px;
}
#bar-icon {
    display: none;
}
#seemore {
    display: none;
}

@media only screen and (max-width: 740px) {
    body {
        overflow-x: hidden;
        width: 100%;
    }
    .header {
        position: relative;
        height: 80px;
    }
    #bar-icon {
        color: aliceblue;
        display: block;
        font-size: 40px;
        display: block;
        margin: 10px;
        cursor: pointer;
    }
    .navbar {
        margin: 0;
    }
    .nav-list {
        display: none;
    }
    #navmobile {
        position: fixed;
        background-color: #fff;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 6;
        width: 100%;
        transform: translateX(-100%);
    }
    .nav-mobile-list {
        margin: 50px 10px;
        list-style: none;
        display: block;
        color: #333;
        padding: 8px 0;
        font-size: 1.4rem;
    }
    .nav-m-item {
        margin-top: 30px;
        /* margin-left: 15px; */
        font-size: 25px;
        list-style: none;
    }
    .nav-mobile i {
        font-size: 40px;
        margin-bottom: 20px;
        position: absolute;
        right: 20px;
        top: 20px;
        color: #666 ;
        cursor: pointer;
        z-index: 7;
    }
    #interest {
        /* margin-left: 8.33333%; */
    }
    .img-interest {
        margin-top: 20px;
    }
    .img-football {
        margin-left: 10px;
        height: 200px;
        width: 350px;
    }
    .img-football:hover {
        transform: rotate(360deg) scale(1.1) translateY(25%) translateX(-15%);
    }
    .img-2 {
        margin-left: 70px;
        height: 220px;
    }
    .img-2:hover {
        transform: rotateY(180deg);
    }
    #brand {
        display: none;
    }
    /* about me */
    .personal {
        margin-left: 8.33333%;
        border: 3px solid #fff;
        padding: 5px 10px;
        height: auto;
    }
    .per-1 {
        display: block;
    }
    #anhthe {
        width: 80px;
    }
    .per-1 h3 {
        font-size: 18px;
    }
    .p-er {
        font-size: 15px;
    }
    #infor_aboutme {
        font-size: 15px;
        display: none;
    }
    #seemore {
        display: block;
        cursor: pointer;
        font-size: 17px;
        padding: 6px 0;
        color: #1b3bee;
        font-weight: 400;
    }
    .img-add {
        margin-top: 40px;
        margin-left: 25%;
    }
    .img-sp {
        width: 200px;
    }
    .img-line img {
        width: 90%;
    }
    .interest-stadium {
        margin-left: 8.33333%;
    }
    .contain-arrow {
        padding-bottom: 10px;
    }
    #arrow {
        width: 30px;
        
    }
    #ball {
        width: 35px;
    }
    #goal {
        width: 180px;
    }
    .interest-ball {
        margin-top: 0;
        padding: 25px 8px;
        transition: transform 1.5s;
        cursor: pointer;
    }
    .interest-content {
        margin: 80px 0 30px 8.33333%;
    }
    #football {
        font-size: 30px;
        margin-bottom: 0px;
    }
    .line {
        margin: -20px 13px 0 0;
        height: inherit;
    }
    .main-cont {
        padding-bottom: 20px;
    }
    .main-cont h1{
        font-size: 25px;
    }
    .main-cont p {
        font-size: 17px;
        margin-bottom: 10px;
    }
    .img-football:hover {
        transform: translate(10%, 20%);
    }
    .img-football {
        width: 250px;
    }
    #foot {
        width: 100%;
        overflow-x: hidden;
    }
    
}

/* footer */
#foot {
    background-color: #252525;
    padding: 50px 15px;
    text-align: center;
    border-top: 1px solid #252525;
    width: 100%;
    /* overflow-x: hidden; */
}
.contain-footer {
    font-size: 26px;
}   
#foot .contain-footer a i{
    color: rgb(23, 233, 163);
}
#foot .contain-footer a i:hover {
    color: rgb(4, 158, 230);
}
.copyright p {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}