* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #dae07e, #455de4);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
.header {
    width: 100%;
    background-color: lightblue;
    border-bottom: 1px solid #666;
    border-top: 1px solid transparent;
}
#bar i, .nav-mobile {
    display: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 45px;
}
.nav-list {
    display: flex;
    list-style: none;
    margin: 0 auto;
}
.nav-items {
    margin: 0 60px;
}
.nav-items a {
    font-weight: 600;
}
.nav-items a:hover {
    color: #fff;
}

.intro {
    background-image: linear-gradient(to right bottom, rgba(135, 230, 151, 0.23), rgba(68, 95, 248, 0.5)),
    url(https://images.pexels.com/photos/772429/pexels-photo-772429.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    position: relative;
    margin: 50px 18px 0 18px;
    height: 100vh;
    clip-path: ellipse(71% 65% at 50% 21%);
    border-radius: 3px;
}

.intro__text {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro__text_major {
    text-transform: uppercase;
    margin-bottom: 65px;
    color: aliceblue;
}

.intro__text-main {
    display: block;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 10px;
    padding-bottom: 50px;
    animation: flip;
    animation-duration: 0.7s;
}

.intro__text-sub {
    display: block;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 14px;
    text-align: center;
    animation: bounceInUp;
    animation-duration: 0.7s;
}

.btn, .btn:link, .btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 100px;
    display: inline-block;
    font-size: 20px;
    position: relative;
}
#bar-icon {
    display: none;
}
.btn_white {
    background-color: aliceblue;
    color: #222;
}

.btn:hover {
    transform:translateY(3px);
    box-shadow: 0 5px 20px rgba(223, 235, 64, 0.829);
}

.btn:active {
    outline: none;
    transform:translateY(1px);
    box-shadow: 0 5px 20px rgba(223, 235, 64, 0.829);
}
.btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    z-index: -1;
    transition: all 0.6s;
}
.btn_white::after {
    background-color: rgba(255, 255, 255, 0.637);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* feature */
.ft-layout {
    display: none;
}
.mobile-ft-main {
    display: none;
    padding: 30px;
    margin: 25px 0 25px 0;
    flex-basis: 30%;
    border-radius: 5px;
}

#feature-layout {
    margin: 2px 20px 20px 20px;
    display: flex;
    justify-content: space-around;
    background-color:antiquewhite;
}

.feature-items {
    padding: 30px;
    margin: 25px 0 25px 0;
    flex-basis: 30%;
    border-radius: 5px;
}
.feature-items:nth-child(1) {
    background-color: coral;
}
.feature-items:nth-child(2) {
    background-color: rgb(147, 214, 240);
}
.feature-items:nth-child(3) {
    background-color: aquamarine;
}
a {
    text-decoration: none;
    color: #222;
}
p {
    padding-top: 20px;
    font-weight: 600;
}
.feature-items-link p:hover {
    background-color: blanchedalmond;
    transform:translateY(1px);
    box-shadow: 0 10px 20px rgba(248, 244, 8, 0.9);
}

/* Automatic slide show by js */
.mySlides {
    display: none;
}
.slideshow-container .mySlides img {
    vertical-align: middle;
    width: 100%;
    height: 610px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 80px auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  /* display: inline-block; */
  display: none;
  transition: background-color 0.5s ease;
}

.active {
  background-color: #717171;
}

/* background */
.content {
    width: 100%;
    background-color: rgb(247, 246, 188);
    margin: 50px auto 0 auto;
}
.BigBang-Background {
    margin: 40px auto 30px auto;
    padding: 40px;
    max-width: 800px;
    text-align: center;
}
#bigbang {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 40px;
}
#bigbang-text {
    color: #555;
    font-style:italic;
    font-style:oblique;
}

#bigbang-content {
    text-align: justify;
    font-weight: 100;
    font-family:"Lato", sans-serif;
    line-height: 35px;
}
.content-img {
    padding: 14px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(247, 246, 188, 0.6);
    flex-wrap: wrap;  
}
.img-bigbang {
    line-height: 50px;
    text-align: center;
}
.image-members {
    height: 290px;
    width: 198px;
    transition: transform 0.5s;
}
.image-members:hover {
    transform: scale(1.05);
}
.name-members {
    font-weight: 500;
    font-size: 15px;
}

/* footer */
#foot {
    background-color: #252525;
    padding: 50px 15px;
    text-align: center;
    border-top: 1px solid #252525;
}
.contain-footer {
    font-size: 26px;
}   
#foot .contain-footer a i{
    color: rgb(23, 233, 163);
}
#foot .contain-footer a i:hover {
    color: rgb(4, 158, 230);
}
.copyright p {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}